$colorB: #000000;
$colorP: silver;
$colorS: #f9f9f9e8;
$blackB: rgb(0, 0, 0, 0.8);
$blueDark: rgb(10, 30, 70);
$blueBaby: rgb(0, 150, 255);
$blueCian: rgb(150, 240, 255);
$purpleNeon: rgb(200, 0, 255);
$purpleBaby: rgba(214, 65, 255, 0.866);

