@use '/src/styles/Styles&Fonts/variables';
@use '/src/styles/Styles&Fonts/typography';


@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$colorP;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variables.$colorS;
    line-height: $fontSize;
}

.title--big {
    @include title(44px); // 40px / 16px = 2.5rem

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title; // 24px / 16px = 1.5rem

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px); // 18px / 16px = 1.125rem

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.link-text {
    @include text(18px);
    color: variables.$colorS;
    text-decoration: underline;
}

.text--big {
    @include text(18px); // 16px / 16px = 1rem (ou pode ser 1.125rem se 18px for o grande)

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text; // 14px / 16px = 0.875rem

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px); // 12px / 16px = 0.75rem

    @media (max-width: 768px) {
        @include text(11px);
    }
}